################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AbpEmbedIODemo/DesignTimeBuild
/.vs/AbpEmbedIODemo/v16
/ConsoleApp/bin/Debug/net5.0
/ConsoleApp/obj
